# Python
__pycache__/
*.pyc

# Data & Models
/data/
*.pth
checkpoints/
/models/

# IDE / OS specific
.vscode/
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints/

# Visualization notebooks
/visualize_checkpoint.ipynb

